@font-face {
   font-family: 'SukhumvitSet-Medium';
   font-display: swap;
   src: url('file:///Users/ceece/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-09-28_222858/fonts/SukhumvitSet-Medium/font.ttf');
}
